<ion-header>
  <ion-navbar color="whatscolor">
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirma Senha</ion-label>
      <ion-input formControlName="confirmaSenha" type="password"></ion-input>
    </ion-item>
    
    <br/>
    <button ion-button full color="whatscolor" [disabled]="cadastroForm.invalid">Cadastrar</button>
  </form>
</ion-content>
