page-login {
    .formLogin{
        padding-top: 10em;
    }

    .loginError{
        margin-top:20px;
        font-size: 20px;
        color: color($colors, danger);
    }

    .texto-cadastro{
        color: color($colors, primary);
    }
}
