<ion-content text-center>
  <div class="formLogin">
    <img src="assets/imgs/logo.png">

    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating> E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input formControlName="senha" type='password'></ion-input>
      </ion-item>
      <ion-item class="texto-cadastro" (click)="goCadastro()">
        Ainda não tem cadastro? Cadastre-se!
      </ion-item>
      <br/>
       <button ion-button full color="whatscolor" [disabled]="formLogin.invalid">
        Entrar
      </button>
    </form>
    <div class="loginError">{{erroEncontrado}}</div>
  </div>

</ion-content>