<ion-tabs color="whatscolor" tabsPlacement="top">
    <ion-tab tabsHideOnSubPages="true" tabTitle="Conversas" [root]="tab1">
    </ion-tab>
    <ion-tab tabsHideOnSubPages="true" tabTitle="Contatos" [root]="tab2">
    </ion-tab>
</ion-tabs>