<div class="texto" [ngClass] ="{
  'remetente-background': mensagem.tipo == 'e',
  'destinatario-background': mensagem.tipo == 'r'
}">
  <p>{{mensagem.texto}}</p>
  <p class="timestamp">{{mensagem.timestamp |date:'dd/MM H:mm:ss'}}</p>
</div>
