caixa-mensagem {
    display: flex;
    margin-bottom: 10px;

    .texto{
        padding: 7px, 5px;
        box-shadow: 1px 1px 3px #ccc;
        color:#212121;
        border-radius: 10px;
    }

    p {
        font-size: 1.1em;
        margin:0;
        padding: 3px 5px 0px 5px;
        text-align: left;
    }

    p.timestamp {
        font-size: 0.8em;
        margin-top: 5px;
        color: #757575;
        padding:0px 3px 5px 3px;
        text-align: right;
    }

    .remetente-background {
        background-color: #B2DFDB;
    }
    .destinatario-background {
        background-color: #EBEBEB
    }
}
