<ion-header>
  <custom-head [titulo]="'Whatsapp xerox'">
  </custom-head>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button (click)="abrirAddContatoModal()" ion-fab color="whatscolor">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list no-lines>
    <ion-item *ngFor="let contato of contatos |async" 
      (click)="iniciarConversa(contato)"
    >
      <h1>{{ contato.nome }}</h1>
      <p>{{ contato.email }}</p>
    </ion-item>
  </ion-list>
</ion-content>
