<ion-header>
  <ion-navbar>
    <ion-title>Confirme seu e-mail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="container">
  <div class="no-meio">
    <h1 *ngIf="!doLogin">Um e-mail de confirmação foi enviado para
      <span ion-text color="primary">{{email}}</span>
    </h1>
    <h1 *ngIf="doLogin">Seu e-mail ainda não foi verificado
      <span ion-text color="primary">{{email}}</span>
    </h1>
    <h2>Por favor confirme seu e-mail</h2>

    <button *ngIf="doLogin" ion-button outline small 
      (click)="reenviarEmailVerificacao()"
      [disabled]="btnReenviarDisabled"
    >
      Reenviar e-mail de verificação
    </button>
    <div *ngIf="mensagem">{{mensagem}}</div>

    <button ion-button outline small (click)="navLogin()">
      Ir para tela de login
    </button>
  </div>
</ion-content>