page-confirma-email {
    .container{
        position: relative;
    }

    .no-meio{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}
