caixa-conversa {
    .texto{
        color:#212121
    }

    .timestamp {
        font-size: 0.8em;
        margin-top: 5px;
        color:#757575;
        padding: 0px 3px 5px 3px;
        text-align: right;
    }

    .ultima-mensagem {
        font-size:0.9em;
        color:#757575;
        text-align: left;
    }

    .linha {
        border-bottom: 1px solid #EFEFEF;
        border-width: 1px;
    }
}
