<div class="texto">
  <button ion-item (click)="continuarConversa()">
    <h1>{{ conversa.titulo }}</h1>
    <ion-row>
      <ion-col col-10 class="ultima-mensagem">
        {{conversa.ultimaMensagem |cortaUltimaMensagem:30}}
      </ion-col>
      <ion-col col-2 class="timestamp">
        {{ conversa.timestamp |date:'dd/MM H:mm'}}
      </ion-col>
    </ion-row>
    <div class="linha"></div>
  </button>
</div>