<ion-header>
  <ion-toolbar color="whatscolor">
    <ion-title>Adicionar contato</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="addContatoForm" (ngSubmit)="addContato()">
    <ion-item>
      <ion-icon 
        name="mail" 
        color="whatscolor" 
        item-left
      >
      </ion-icon>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <br/>
    <button 
      ion-button 
      block 
      color="whatscolor" 
      [disabled]="addContatoForm.invalid"
    >
      Adicionar
    </button>
  </form>
</ion-content>
