<ion-navbar color="whatscolor">
  <ion-title *ngIf="!exibirIcones">{{ titulo }}</ion-title>
  <ion-title *ngIf="exibirIcones">Whatsapp xerox</ion-title>
  <ion-buttons end *ngIf="exibirIcones">
    <button (click)="abrirModal()" ion-button icon-only style="margin-right:20px">
      <ion-icon name="person-add"></ion-icon>
    </button>
    <button ion-button icon-only (click)="deslogar()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>