<ion-header>
  <!-- Bind da propriedade titulo para o componente -->
  <custom-head [titulo]="'Whatsapp xerox'">
  </custom-head>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <caixa-conversa 
      *ngFor="let conversa of conversas |async" 
      [conversa]="conversa"
    >
    </caixa-conversa>
  </ion-list>
</ion-content>
