<ion-header>
  <custom-head [titulo]="contato.nome" [exibirIcones]="false">
  </custom-head>
</ion-header>

<ion-content padding>
  <caixa-mensagem [mensagem]="msg" *ngFor="let msg of mensagens |async">
  </caixa-mensagem>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input 
      (keyup.enter)="enviarMensagem(novaMensagem);novaMensagem=''"
      [(ngModel)]="novaMensagem" 
      type="text" 
      placeholder="Mensagem...">
    </ion-input>
    <button 
      ion-button round 
      item-right default 
      color="whatscolor"
      (click)="enviarMensagem(novaMensagem);novaMensagem=''"
    >
    <!-- Explicitamente indicando o icone a ser usado. ios(iphone) 
      md->Material Design(android) -->
      <ion-icon ios="ios-send" md="md-send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>